.container .popup-window-overlay .center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.sideMenu #openbtn {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

#nav #closebtn, .container .popup-window-overlay .horizontally-center {
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%); }

#nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff; }
  #nav #closebtn {
    position: absolute;
    font-size: 3em;
    text-decoration: none;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media only screen and (min-width: 768px) and (min-height: 468px) {
      #nav #closebtn {
        top: 0;
        right: .5em;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }
  #nav #options {
    margin-top: 5em;
    text-align: center;
    opacity: 0; }
    #nav #options span {
      display: block;
      padding: 0.8em 0;
      cursor: pointer;
      white-space: nowrap;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #nav #options span:hover {
        color: #82b74b;
        background-color: #6b5b95; }

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.6em;
  background-color: #484f4f;
  width: 100%;
  height: 2em; }
  .sideMenu #openbtn {
    position: absolute;
    cursor: pointer;
    padding-left: 5px;
    font-size: 1.5em; }

header {
  margin-top: 2em;
  text-align: center;
  background-color: #3e4444;
  color: #fff; }
  header h1 {
    margin: 0;
    padding: 1.5em .5em;
    font-size: 2.5em;
    text-transform: uppercase; }

.container .popup-window-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: auto; }
  .container .popup-window-overlay .popup-window-container {
    position: absolute;
    box-shadow: 0 0 .8em #fff;
    padding: 1em 0.3em;
    width: 95%; }
    .container .popup-window-overlay .popup-window-container input {
      display: block;
      width: 100%;
      margin: 0;
      padding: .2em; }
      .container .popup-window-overlay .popup-window-container input:focus {
        outline: 2px solid #6b5b95; }
    .container .popup-window-overlay .popup-window-container #overusedWords, .container .popup-window-overlay .popup-window-container #unnecessaryWords {
      margin: 1em 0;
      padding: .8em; }
    .container .popup-window-overlay .popup-window-container button {
      display: inline-block;
      padding: .5em .7em;
      margin: .3em;
      font-size: 1.3em;
      outline: none;
      cursor: pointer;
      background-color: #82b74b;
      color: #3e4444;
      font-weight: bold;
      width: 10em;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .container .popup-window-overlay .popup-window-container button:hover {
        background-color: #6b5b95;
        color: #82b74b; }
    .container .popup-window-overlay .popup-window-container p {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold; }
    .container .popup-window-overlay .popup-window-container form {
      display: inline-block;
      width: 100%;
      border: 1px solid #fff;
      height: 8em;
      overflow-x: auto;
      font-size: 1em; }
      .container .popup-window-overlay .popup-window-container form span {
        color: #fff; }
    .container .popup-window-overlay .popup-window-container #preview {
      text-transform: none;
      font-weight: normal;
      text-align: justify;
      height: 12em;
      max-height: 12em;
      overflow-x: auto;
      padding: .8em; }
    .container .popup-window-overlay .popup-window-container .dropDown {
      display: inline-block; }
      .container .popup-window-overlay .popup-window-container .dropDown .wordsList {
        visibility: hidden;
        height: 8em;
        overflow-x: auto; }
    .container .popup-window-overlay .popup-window-container .closeShowWords {
      display: block;
      margin: 1em auto; }

.container {
  text-align: center;
  background-color: #82b74b;
  color: #3e4444; }
  .container textarea {
    display: block;
    width: 100%;
    background-color: #DEEAEE;
    padding: .8em;
    text-align: justify;
    color: #3e4444;
    border: none; }
    .container textarea:focus {
      outline: none; }
  .container #lint {
    width: 100%;
    padding: .5em 0;
    border: 1px solid #3e4444;
    font-size: 1.3em;
    outline: none;
    cursor: pointer;
    background-color: #82b74b;
    color: #3e4444;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .container #lint:hover {
      background-color: #6b5b95;
      color: #82b74b; }
  .container .result {
    text-align: justify;
    height: 12em;
    max-height: 12em;
    background-color: #DEEAEE;
    overflow-x: auto; }
    .container .result #output {
      margin: 0; }

footer {
  background-color: #3e4444;
  padding: 2em;
  text-align: center; }
  footer a {
    font-size: 3em;
    text-decoration: none;
    color: #82b74b;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    footer a:hover {
      color: #6b5b95; }
  footer p {
    font-size: 1em;
    color: #fff; }

.highlight-red {
  color: red; }

.highlight-purple {
  color: purple; }

.highlight-yellow {
  color: yellow; }

.highlight-blue {
  color: blue; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  position: relative; }
  @media only screen and (min-width: 321px) and (max-height: 321px) {
    body {
      font-size: 14px; } }
  @media only screen and (min-width: 468px) and (min-height: 321px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 768px) and (min-height: 468px) {
    body {
      font-size: 22px; } }
  @media only screen and (min-width: 1224px) and (max-height: 767px) {
    body {
      font-size: 26px; } }
  @media only screen and (min-width: 1224px) and (min-height: 768px) {
    body {
      font-size: 30px; } }

/*# sourceMappingURL=style.css.map */
