%popup-window-overlay {
  .popup-window-overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: $nav-overlay-backup;
    background-color: $nav-overlay;
    overflow-x: auto;

    .popup-window-container {
      position: absolute;
      box-shadow: 0 0 .8em #fff;
      padding: 1em 0.3em;
      width: 95%;

      // Menu Option "Add Words" items
      input {
        display: block;
        width: 100%;
        margin: 0;
        padding: .2em;
        &:focus {
          outline: 2px solid $hover;
        }
      }

      #overusedWords, #unnecessaryWords {
        margin: 1em 0;
        padding: .8em;
      }

      button {
        display: inline-block;
        padding: .5em .7em;
        margin: .3em;
        font-size: 1.3em;
        outline: none;
        cursor: pointer;
        background-color: $background-even;
        color: $text-even;
        font-weight: bold;
        width: 10em;
        @include transition(.3s);
        &:hover {
          background-color: $hover;
          color: $hover-text;
        }
      }

      // Menu option "Replace Words" items
      p {
        color: $text;
        text-transform: uppercase;
        font-weight: bold;
      }

      form {
        display: inline-block;
        width: 100%;
        border: 1px solid $text;
        height: 8em;
        overflow-x: auto;
        font-size: 1em;

        span {
          color: $text;
        }
      }

      #preview {
        text-transform: none;
        font-weight: normal;
        text-align: justify;
        height: 12em;
        max-height: 12em;
        overflow-x: auto;
        padding: .8em;
      }

      .dropDown {
        display: inline-block;
        .wordsList {
          visibility: hidden;
          height: 8em;
          overflow-x: auto;
        }
      }

      .closeShowWords {
        display: block;
        margin: 1em auto;
      }
    }

    .center {
      @extend %centering;
    }
    .horizontally-center {
      @extend %horizontally-centering;
    }






  }
}