footer {
  background-color: $background-odd;
  padding: 2em;
  text-align: center;

  a {
    font-size: 3em;
    text-decoration: none;
    color: $text-odd;
    @include transition(color .5s);
    &:hover {
      color: $hover;
    }
  }

  p {
    font-size: 1em;
    color: $text;
  }
}