@import "../components/popupWindowOverlay";

.container {
  text-align: center;
  background-color: $background-even;
  color: $text-even;

  textarea {
    display: block;
    width: 100%;
    background-color: $text-background;
    padding: .8em;
    text-align: justify;
    color: $text-even;
    border: none;
    &:focus {
      outline: none;
    }
  }

  #lint {
    width: 100%;
    padding: .5em 0;
    border: 1px solid $background-odd;
    font-size: 1.3em;
    outline: none;
    cursor: pointer;
    background-color: $background-even;
    color: $text-even;
    font-weight: bold;
    @include transition(.3s);
    &:hover {
      background-color: $hover;
      color: $hover-text;
    }
  }

  .result {
    text-align: justify;
    height: 12em;
    max-height: 12em;
    background-color: $text-background;
    overflow-x: auto;
    #output {
      margin: 0;
    }
  }

  @extend %popup-window-overlay;
}