#nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $nav-overlay-backup;
  background-color: $nav-overlay;
  overflow-x: hidden;
  @include transition(.5s);
  color: $nav-overlay-text;

  #closebtn {
    position: absolute;
    @extend %horizontally-centering;
    font-size: 3em;
    text-decoration: none;
    color: $nav-overlay-text;
    @include transition(.3s);
    @media only screen and (min-width: 768px) and (min-height: 468px) {
      top: 0;
      right: .5em;
      @include transform(translateX(0));
    }
  }

  #options {
    margin-top: 5em;
    text-align: center;
    opacity: 0;

    span {
      display: block;
      padding: 0.8em 0;
      cursor: pointer;
      white-space: nowrap;
      @include transition(.3s);
      &:hover {
        color: $hover-text;
        background-color: $hover;
      }
    }
  }
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.6em;
  background-color: $nav;
  width: 100%;
  height: 2em;

  #openbtn {
    position: absolute;
    @extend %vertically-centering;
    cursor: pointer;
    padding-left: 5px;
    font-size: 1.5em;
  }
}
